$LightModeText: rgb(228, 228, 228);
$LightModeBg: black;
$DarkModeText: white;
$DarkModeBg: #0c0c0c;
$MarginGapBottom: 50px;
$PrimaryFont: acumin, sans-serif;

#root,
html,
body {
    background-color: $DarkModeBg;
}

.nav-style {
    font-family: $PrimaryFont;
}

.nav-gap {
    margin-bottom: $MarginGapBottom;
}

.hr-line {
    border: 1px solid rgb(112, 112, 112);
    width: 70px;
    margin: 50px 0px 50px 0px;
}

.dark-hero-text {
    color: $DarkModeText;
    font-family: $PrimaryFont;
    font-weight: 600;
    font-size: 160px;
    line-height: 80%;
    letter-spacing: -0.06em;
}

.sub-text {
    color: $DarkModeText;
}
