//Variables
$breakpoint-large: 992px;
$LightModeText: #0c0c0c;
$LightModeBg: rgb(243, 243, 243);
$DarkModeText: white;
$DarkModeBg: #0c0c0c;
$MarginGapBottom: 50px;
$PrimaryFont: acumin, sans-serif;

$black: #4c4c4c;
$white: #eaeaea;
$gray: #808080;

$animate: all 0.2s ease-in-out;

#root,
html,
body {
    background-color: $DarkModeBg;
    font-family: $PrimaryFont;
}

#logo {
    font-size: 15px;
    font-weight: bold;
    &:hover {
        color: white;
        transform: scale(1.1);
    }
}

.scroll-border {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.scroll-border::after {
    content: "";
    display: block;
    width: 0;
    height: 5px;
    background: rgb(255, 255, 255);
    transition: width 0.3s;
}

.scroll-border:hover::after {
    width: 100%;
    //transition: width .3s;
}

.mode-switch {
    cursor: pointer;
    transform: scale(0.8);
    &:hover {
        transform: scale(0.9);
        transition: 0.3s ease-in-out;
    }
}

.dark-mode {
    background-color: $DarkModeBg;
    color: $DarkModeText;
    transition: all 0.3s ease;
}

.light-mode {
    background-color: $LightModeBg;
    color: $LightModeText;
    transition: all 0.3s ease;
}

.nav-gap {
    margin-bottom: $MarginGapBottom;
}

.hr-line {
    border: 1px solid rgb(112, 112, 112);
    width: 70px;
    margin: 50px 0px 50px 0px;
}

.dark-hero-text {
    font-weight: 600;
    font-size: 180px;
    line-height: 80%;
    letter-spacing: -0.06em;
}

.dark-title-text {
    font-weight: 600;
    font-size: 80px;
    line-height: 80%;
    letter-spacing: -0.06em;
}

.blog-title {
    font-weight: 600;
    letter-spacing: -0.06em;
}

.blog-links {
    a {
        color: $DarkModeText;
    }
    a:hover {
        color: $DarkModeText;
        text-decoration: none;
    }
    .blog-links-date {
        color: rgb(100, 100, 100);
    }
}

.border-anim {
    border-bottom: 4px solid white;
}

.divHeight {
    height: 450px;
}

@media (max-width: $breakpoint-large) {
    .dark-hero-text {
        font-size: 90px;
    }
    .divHeight {
        height: inherit;
    }
}
