//Variables

$LightModeText: #0c0c0c;
$LightModeBg: rgb(243, 243, 243);
$DarkModeText: white;
$DarkModeBg: #0c0c0c;
$MarginGapBottom: 50px;
$PrimaryFont: acumin, sans-serif;

$black: #4c4c4c;
$white: #eaeaea;
$gray: #808080;

$text-arrow-space: 16px;
$shaft-width: 1px;
$newshaft-width: 250px;
$shaft-thickness: 1px;
$arrow-head-width: 8px;
$arrow-head-thickness: $shaft-thickness;

$animate: all 0.2s ease-in-out;

#root,
html,
body {
    background-color: $DarkModeBg;
    font-family: $PrimaryFont;
}

#logo {
    font-size: 15px;
    font-weight: bold;
    &:hover {
        color: white;
        transform: scale(1.1);
    }
}

.scroll-border {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.scroll-border::after {
    content: "";
    display: block;
    width: 0;
    height: 5px;
    background: rgb(255, 255, 255);
    transition: width 0.3s;
}

.scroll-border:hover::after {
    width: 100%;
    //transition: width .3s;
}

.mode-switch {
    cursor: pointer;
    transform: scale(0.8);
    &:hover {
        transform: scale(0.9);
        transition: 0.3s ease-in-out;
    }
}

.dark-mode {
    background-color: $DarkModeBg;
    color: $DarkModeText;
    transition: all 0.3s ease;
}

.light-mode {
    background-color: $LightModeBg;
    color: $LightModeText;
    transition: all 0.3s ease;
}

.nav-gap {
    margin-bottom: $MarginGapBottom;
}

.hr-line {
    border: 1px solid rgb(112, 112, 112);
    width: 70px;
    margin: 50px 0px 50px 0px;
}

.dark-hero-text {
    font-weight: 600;
    font-size: 180px;
    line-height: 80%;
    letter-spacing: -0.06em;
}

.dark-title-text {
    font-weight: 600;
    font-size: 80px;
    line-height: 80%;
    letter-spacing: -0.06em;
}

.blog-title {
    font-weight: 600;
    letter-spacing: -0.06em;
}

.blog-links {
    a {
        color: $DarkModeText;
    }
    a:hover {
        color: $DarkModeText;
        text-decoration: none;
    }
    .blog-links-date {
        color: rgb(100, 100, 100);
    }
}

.border-anim {
    border-bottom: 4px solid white;
}

$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {
    .dark-hero-text {
        font-size: 90px;
    }
}

// Arrow SCSS

ul {
    li {
        margin: 0 0 24px;
        list-style: none;
    }
}

// The Arrow

.the-arrow {
    width: $shaft-width;
    transition: all 0.2s;

    &.-left {
        position: absolute;
        top: 60%;
        left: 0;

        > .shaft {
            width: 0;
            background-color: $black;

            &:before,
            &:after {
                width: 0;
                background-color: $black;
            }

            &:before {
                transform: rotate(0);
            }

            &:after {
                transform: rotate(0);
            }
        }
    }

    &.-right {
        top: 0px;
        left: 10px;

        > .shaft {
            width: $shaft-width;
            transition-delay: 0.2s;

            &:before,
            &:after {
                width: $arrow-head-width;
                transition-delay: 0.3s;
                transition: all 0.5s;
            }

            &:before {
                transform: rotate(40deg);
            }

            &:after {
                transform: rotate(-40deg);
            }
        }
    }

    > .shaft {
        background-color: $black;
        display: block;
        height: $shaft-thickness;
        position: relative;
        transition: all 0.2s;
        transition-delay: 0;
        will-change: transform;

        &:before,
        &:after {
            background-color: $black;
            content: "";
            display: block;
            height: $arrow-head-thickness;
            position: absolute;
            top: 0;
            right: 0;
            transition: all 0.2s;
            transition-delay: 0;
        }

        &:before {
            transform-origin: top right;
        }

        &:after {
            transform-origin: bottom right;
        }
    }
}

// Animated Arrow Button

.animated-arrow {
    display: inline-block;
    color: $black;
    font-size: 1em;
    font-family: $PrimaryFont;
    text-decoration: none;
    position: relative;
    transition: all 0.2s;

    &:hover {
        color: $gray;

        > .the-arrow.-left {
            > .shaft {
                width: $newshaft-width;
                transition-delay: 0.1s;
                background-color: $gray;

                &:before,
                &:after {
                    width: $arrow-head-width;
                    transition-delay: 0.1s;
                    background-color: $gray;
                }

                &:before {
                    transform: rotate(40deg);
                }

                &:after {
                    transform: rotate(-40deg);
                }
            }
        }

        > .main {
            transform: translateX($shaft-width + $text-arrow-space);
            transform: translateX($newshaft-width + $text-arrow-space);

            > .the-arrow.-right {
                > .shaft {
                    width: 0;
                    transform: translateX(200%);
                    transition-delay: 0;

                    &:before,
                    &:after {
                        width: 0;
                        transition-delay: 0;
                        transition: all 0.1s;
                    }

                    &:before {
                        transform: rotate(0);
                    }

                    &:after {
                        transform: rotate(0);
                    }
                }
            }
        }
    }

    > .main {
        display: flex;
        align-items: center;
        transition: all 0.2s;

        > .text {
            margin: 0 $text-arrow-space 0 0;
            line-height: 1;
        }

        > .the-arrow {
            position: relative;
        }
    }
}
